<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Select how many players</div>

                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class='col-12 text-center'>
                                <h1>How many players to play the game?</h1>
                            </div>
                            <div class='col-12 text-center'>
                                <input type="number" autocomplete="off" min="2" max="4" v-model="formVariables.numberOfPlayers">
                            </div>
                            <div class='col-12 text-center mt-2'>
                                <input type="submit" class="buttonGlobal btn btn-primary" value='Submit' @click='startGame()'/>
                            </div>
                            <div class='col-12 text-center mt-2'>
                                &nbsp;
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Project :</b>
                                </div>
                                <div class="col-md-6">
                                    Domino game
                                </div>
                                <div class="col-md-6">
                                    <b>Git Repo:</b>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://bitbucket.org/marcovie/domino_simple/src/master/" target="_blank">https://bitbucket.org/marcovie/domino_simple/src/master/</a>
                                </div>
                                <div class='col-md-12 mt-5'>
                                    <h1><u><b>Information</b></u></h1>
                                </div>
                                <div class='col-md-12'>
                                    <p>
                                        <b>Game instructions</b>
                                    </p>
                                    <p>
                                        - Pick the amount of players you want to play. Player 1 is always the human player.
                                    </p>
                                    <p>
                                        - A domino will display in the center of the screen which will show 2 numbers that can be played on and displaying the numbers in a domino form.
                                    </p>
                                    <p>
                                        - The domino showing has no relation to what is in your hand or in other players hands.
                                    </p>
                                    <p>
                                        - If you have no domino to play please click draw a tile, it will draw as many tiles as needed until it finds a domino side that matches what's in the play board.
                                    </p>
                                    <p>
                                        - If after you draw the tile there are no more tiles left it will skip your turn. If it's your turn again and you are still unable to play, click draw a tile regardless if there are tiles left or not.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axiosPostMixin from '../mixins/axiosPostMixin.js';

    export default {
        name: 'Dashboard',
        components: {  },
        mixins: [axiosPostMixin],
        props: [],
        data() {
            return {
                errors: [],
                params: {},
                formVariables: {
                    'numberOfPlayers': 2,
                  },
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            startGame() {
                this.errors                         = [];
                this.params['url']                  = '/start_game';
                this.axiosPostNormal(this.params, this.formVariables);
            },
            onSuccessRedirect(data)
            {
                alert(data.data);
              if(data.data != undefined && data.data != '')
              {
                  location.href = '/game/'+data.data;
              }
              else {
                  alert('Error occurred');
              }
            },
        }
    }
</script>
