<template>
    <div class="row" style='height:90vh'>
        <!-- <div class="col-md-12"> -->
            <!-- PLAYER 2 -->
            <div class='col-md-1'>
                <div class='align-self-start flex-fill'>
                    <p>
                        Player 2
                    </p>
                    <p v-for='player2 in gamesData' v-if='player2.player_number == 2 && definitions[player2.domino_id]' style='font-size:50px;margin-bottom:-40px;padding:0px'>&#127024</p>
                </div>
                <div class='align-self-end flex-fill mt-5'>
                    <p>
                        last Player played:
                    </p>
                    <p class='bg-secondary'>
                        Player {{this.lastPlayerNumber}}
                    </p>
                </div>
            </div>
            <div class='col-md-10 d-flex'  style='height:90vh'>
                <!-- PLAYER 3 -->
                <div class='align-self-start flex-fill'>
                    <p>
                        Player 3
                    </p>
                    <span v-for='player3 in gamesData' v-if='player3.player_number == 3 && definitions[player3.domino_id]' style='font-size:50px;padding:0px'>&#127074</span>
                </div>
                <div class='align-self-center flex-fill'>
                    <!-- <span v-for='currentGameData in gameDataHistory' style='font-size:100px;margin-bottom: -80px;padding: 0;' v-html="currentGameData.html">{{currentGameData}}</span> -->
                    <span style='font-size:100px;margin-bottom: -80px;padding: 0;' v-html="htmlToDisplay"></span>

                </div>
                <!-- PLAYER 1 -->
                <div class='align-self-end flex-fill'>
                    <p>
                        Player 1
                    </p>
                    <span class='addPointer' v-for='(player1, key) in gamesData' v-if='player1.player_number == 1 && definitions[player1.domino_id]' v-html="definitions[player1.domino_id].description" style='font-size:100px;margin-bottom: -80px;padding: 0;' @click='(lastPlayerNumber)?runProcessToAddTilePlay(key):alert("Not your turn");'></span>
                </div>
            </div>
            <!-- PLAYER 4 -->
            <div class='col-md-1'>
                <div class='align-self-start flex-fill'>
                    <p>
                        Player 4
                    </p>
                    <p v-for='player4 in gamesData' v-if='player4.player_number == 4 && definitions[player4.domino_id]' style='font-size:50px;margin-bottom:-40px;padding:0px'>&#127024</p>
                </div>
                <div class='align-self-end flex-fill mt-5'>
                    <p>
                        Draw a tile:
                    </p>
                    <p class='bg-secondary'>
                        <span class='addPointer' style='font-size:75px;padding:0px' title='Draw a Tile' @click='DrawATile(1)'>&#127074</span>
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</template>

<script>
    import axiosPostMixin from '../mixins/axiosPostMixin.js';
    import axiosGetMixin from '../mixins/axiosGetMixin.js';

    export default {
        name: 'Dashboard',
        components: {  },
        mixins: [axiosPostMixin, axiosGetMixin],
        props: ['uuid'],
        data() {
            return {
                errors: [],
                params: {},
                gamesData: [],
                definitions: [],
                gameDataHistory: [],
                gameDataPlayerHistory: [],
                lastPlayerNumber: 0,
                lastPlayDominoID: 0,
                players: 0,
                sideOne: -1,
                sideTwo: -1,
                htmlToDisplay: '',
                formVariables: {
                    'numberOfPlayers': 2,
                  },
            }
        },
        mounted() {
            this.onLoadFetchGameData();
        },
        methods: {
            onLoadFetchGameData() {
                this.errors                     = [];
                this.params['url']              = '/fetch-game-data/'+this.uuid;
                this.axiosGetNormal(this.params, this.gamesData, this.definitions);
            },
            LoadAllTiles(playersPassed) {
                this.players = playersPassed;
                var varBiggestTile = -1;
                var varBiggestTileKey = -1;
                for (var key in this.gamesData) {
                    if(this.definitions[this.gamesData[key].domino_id].tile_double == 1 && this.gamesData[key].player_number != null)
                    {
                        if(parseInt(varBiggestTile) < parseInt(this.gamesData[key].domino_id))
                        {
                            varBiggestTile      = this.gamesData[key].domino_id;
                            varBiggestTileKey   = key;
                        }
                    }
                }
                if(varBiggestTile != -1)
                {
                    this.runProcessToAddTilePlay(varBiggestTileKey);
                    this.ComputerPlayer();
                }
                else
                {
                    alert('No one has double tiles, player 1 please play first tile');
                }
            },
            DrawATile(nextPlayer) {
                let foundAnyTilesToDraw = false;
                for (var key in this.gamesData) {
                    if(this.gamesData[key].player_number == null)
                    {
                        foundAnyTilesToDraw = true;
                        this.gamesData[key].player_number = nextPlayer;

                        if(this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideOne || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideOne || this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideTwo || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideTwo)
                        {
                            if(nextPlayer != 1)
                                this.runProcessToAddTilePlay(key);

                            break;
                        }
                    }
                }

                if(!foundAnyTilesToDraw && nextPlayer == 1)
                {
                    alert('No more tiles to draw, your turn is skipped.');
                    this.isTheGameBust();
                    this.lastPlayerNumber = nextPlayer;
                    this.ComputerPlayer();
                }
                else if(!foundAnyTilesToDraw && nextPlayer != 1) {
                    this.lastPlayerNumber = nextPlayer;
                    this.ComputerPlayer();
                }
            },
            ComputerPlayer() {
                let nextPlayer = (this.lastPlayerNumber+1 > this.players)?1:this.lastPlayerNumber+1;
                if(nextPlayer != 1)
                {
                    let didNotFindAnything = false;
                    for (var key in this.gamesData) {
                        if(this.gamesData[key].player_number == nextPlayer)
                        {
                            if(!didNotFindAnything && (this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideOne || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideOne || this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideTwo || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideTwo))
                            {
                                didNotFindAnything = true;

                                this.runProcessToAddTilePlay(key);
                            }
                        }
                    }

                    if(!didNotFindAnything)
                    {
                        // console.log('Draw for next player');
                        this.DrawATile(nextPlayer);
                    }
                }

            },
            currentDomino() {
                for (var key in this.definitions) {
                    if(this.definitions[key].tile_side_one == this.sideOne && this.definitions[key].tile_side_two == this.sideTwo || this.definitions[key].tile_side_one == this.sideTwo && this.definitions[key].tile_side_two == this.sideOne)
                    {
                        this.htmlToDisplay = '&#'+(parseInt(this.definitions[key].description.replace('&#', ''))-50).toString();
                    }
                }
            },
            runProcessToAddTilePlay(key) {

                if(this.gamesData[key].player_number == 1 && (this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideOne || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideOne || this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideTwo || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideTwo) || this.gamesData[key].player_number != 1 || this.sideOne == -1)
                {
                    let foundResult = false;
                    this.lastPlayerNumber = this.gamesData[key].player_number;
                    this.lastPlayDominoID = this.gamesData[key].domino_id;

                    this.gameDataHistory.push({'id': this.lastPlayDominoID, 'html': '&#'+(parseInt(this.definitions[this.lastPlayDominoID].description.replace('&#', ''))-50).toString()});
                    this.gameDataPlayerHistory.push({'id': this.lastPlayDominoID, 'player': this.lastPlayerNumber});
                    this.gamesData.splice(key, 1);

                    if(this.gameDataHistory.length < 2) {
                        this.sideOne = this.definitions[this.lastPlayDominoID].tile_side_one;
                        this.sideTwo = this.definitions[this.lastPlayDominoID].tile_side_two;
                    }
                    else
                    {
                        if(this.definitions[this.lastPlayDominoID].tile_side_one == this.sideOne && !foundResult)
                        {
                            foundResult = true;
                            this.sideOne = this.definitions[this.lastPlayDominoID].tile_side_two;
                        }

                        if(this.definitions[this.lastPlayDominoID].tile_side_one == this.sideTwo && !foundResult)
                        {
                            foundResult = true;
                            this.sideTwo = this.definitions[this.lastPlayDominoID].tile_side_two;
                        }

                        if(this.definitions[this.lastPlayDominoID].tile_side_two == this.sideOne && !foundResult)
                        {
                            foundResult = true;
                            this.sideOne = this.definitions[this.lastPlayDominoID].tile_side_one;
                        }


                        if(this.definitions[this.lastPlayDominoID].tile_side_two == this.sideTwo && !foundResult)
                        {
                            foundResult = true;
                            this.sideTwo = this.definitions[this.lastPlayDominoID].tile_side_one;
                        }
                    }
                    this.currentDomino();
                    let nextPlayer = (this.lastPlayerNumber+1 > this.players)?1:this.lastPlayerNumber+1;

                    if(this.lastPlayerNumber == 1)
                        this.ComputerPlayer();
                }
                else {
                    alert('No match found');
                }

                this.isThereAWinner(0);
                this.isTheGameBust();
            },
            isTheGameBust() {
                let foundAMatch = false;
                for (var key in this.gamesData) {

                    if(this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideOne || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideTwo || this.definitions[this.gamesData[key].domino_id].tile_side_one == this.sideTwo || this.definitions[this.gamesData[key].domino_id].tile_side_two == this.sideOne)
                    {
                        foundAMatch = true;
                    }
                }

                if(!foundAMatch)
                {
                    alert('Sorry seems there is no more tiles left to match!');

                    this.isThereAWinner(1);
                }
            },
            isThereAWinner(checkForWinnerIfBust) {
                let playersTiles = {};
                for(var x = 1; x <= this.players;x++)
                {
                    playersTiles[x] = 0;
                }

                for (var key in this.gamesData) {
                    if(this.gamesData[key].player_number <= this.players && this.gamesData[key].player_number != null)
                    {
                        playersTiles[this.gamesData[key].player_number] += 1;
                    }
                }

                if(checkForWinnerIfBust == 0) {
                    for(var x = 1; x <= this.players;x++)
                    {
                        if(playersTiles[x] == 0)
                        {
                            alert('Player '+x+' is the winner, congrats!');
                            location.href = '/';
                        }
                    }
                }
                else {
                    let winnerByLowestTilesCount = 99;
                    let winnerByLowestTiles = 0;
                    for(var x = 1; x <= this.players;x++)
                    {
                        if(winnerByLowestTilesCount > playersTiles[x])
                        {
                            winnerByLowestTilesCount = playersTiles[x];
                            winnerByLowestTiles      = x;
                        }
                    }
alert(winnerByLowestTiles);
                    if(winnerByLowestTiles != 0)
                    {
                        alert('Player '+winnerByLowestTiles+' is the winner, congrats!');
                        location.href = '/';
                    }
                }
            }
        }
    }
</script>
